{% extends "layout.html" %}
{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {%  if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%  for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {%  endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {%  endif %}
            </div>
            <div class="form-group">
                {{ form.author.label(class="form-control-label") }}
                {%  if form.author.errors %}
                    {{ form.author(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {%  for error in form.author.errors %}
                            <span>{{ error }}</span>
                        {%  endfor %}
                    </div>
                {% else %}
                    {{ form.author(class="form-control form-control-lg") }}
                {%  endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_book') }}">new book</a>
{% for book in books.items %}
<article class="media content-section">
    <div class="media-body">
        <p>Title: {{ book.title }}</p>
        <p>Author: {{ book.author }}</p>
        <p>Pages: {{ book.pages }}</p>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_book' , book_id=book.id) }}">Add book</a>
    </div>
</article>
{% endfor %}
{% for page_num in books.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if books.page == page_num %}
            <a class="btn btn-info mb-4" href="{{url_for('book_list', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{url_for('book_list', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
{% endblock content %}